.container {
  width: 788px;
  gap: 0px;
  border-radius: 22px;
  padding: 32px 22px;
  border: 1px;
  box-shadow: 0px 4px 15px 0px #0000000f;
  background: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;

    h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 42px;

      span {
        margin-left: 14px;
      }
    }
  }

  /* DataOverview.css */
  .data-overview {
    margin-top: 20px;

    h5 {
      font-size: 19px;
      font-weight: 600;
    }
  }
  .data-overview-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 20px; /* Adjust spacing between sections */
    padding: 20px; /* Add padding around the container */
  }

  .section_outer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .section {
    width: 220px;
    height: 80px;
    background: rgba(249, 249, 249, 1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex;
    align-items: flex-start;
  }

  .icon {
    width: 21px;
    height: 13px;
    border-radius: 12px;
  }

  .data-point {
    display: flex;
    flex-direction: column;
  }

  .label {
    font-size: 12px;
    font-weight: 400;
  }

  .value {
    font-size: 14px;
    font-weight: 700;
  }

  .metadata-details,
  .sla-details {
    margin-top: 10px;
  }

  .metadata-item,
  .sla-item {
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .metadata-key,
  .sla-key {
    font-size: 12px;
    font-weight: 400;
    color: rgba(132, 145, 154, 1);
  }

  .sla-bars {
    margin-top: 10px;
  }

  .sla-bar {
    height: 8px;
    background-color: #eee; /* Light gray background for the bar */
    border-radius: 4px;
    margin-bottom: 5px;
  }

  .green {
    background-color: #28a745; /* Green for the filled portion */
  }

  .sla-text {
    font-size: small;
    margin-top: -5px;
    text-align: end;
  }
  .metadata-section {
    width: 220px;
    background: rgba(249, 249, 249, 1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  .sla-section {
    width: 250px;
    border-radius: 8px;
    background: rgba(249, 249, 249, 1);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
}

.Quantity-conatiner {
  margin-top: 60px 20px;
  h3 {
    font-size: 19px !important;
    font-weight: 600 !important;
  }
  .inner_chart {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    .commonChartchart {
      width: 352px;
      height: 200px;
      background: rgba(249, 249, 249, 1);
      border-radius: 22px;
      padding: 20px;

    }
  }
}

.common-chart {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;

  .chart_style {
    width: 230px;
    border-radius: 22px;
    background: rgba(249, 249, 249, 1);
    border-radius: 22px;
    padding: 20px;
  }
}
